.aboutImage {
  width:200px;
  height:200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  border-radius:50%;
  overflow: hidden;
}

.aboutImage img {
  width:100%;
}

h1 {
  text-align:center;
  font-size:48px;
}
